h1{
    color: rgb(0, 0, 0);
}

/* * {
    border: solid;
}*/

.header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;

}

.site-description{
    background-color: #09f801;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;

}

.grid{
    background-color: #ff0404;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    background-color: #ff9900;
    display: flex;
    justify-content: flex-end;

}

p,h2{
    background-color: #eeff00;
    text-align: center;
}